.project {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #fff;
  z-index: 13;
  background: #201360;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
}

.project-box {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 85%;
  gap: 4px;
  margin-top: 80px;
}

.project-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project-container a {
  text-decoration: none;
}

.project-container p img {
  width: 190px;
}

.project-heading h2 {
  display: flex;
  transition: 0.6s;
  width: fit-content;
  border-bottom: 2px solid transparent;
}

.project-heading h2:hover {
  border-bottom: 2px solid #fff;
}

.project-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 8px;
  padding: 0px 10px 0px 28px;
}

.achievement {
  margin-top: 180px;
}

@media (max-width: 900px) {
  .project-box {
    flex-direction: column;
  }
}
