@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0a064c;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  div .resp {
    display: none;
    transition: 0.5s;
  }
}

div .resphide {
  visibility: hidden;
}

@media (min-width: 1024px) {
  div .desktop {
    display: none;
  }
}

a,
button,
input,
label {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
